<p id="notice"><%= notice %></p>

<h1>Subjects Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects_users.each do |subjects_user| %>
      <tr>
        <td><%= link_to 'Show', subjects_user %></td>
        <td><%= link_to 'Edit', edit_subjects_user_path(subjects_user) %></td>
        <td><%= link_to 'Destroy', subjects_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subjects User', new_subjects_user_path %>
