<script>
	function showDiv() {
   	document.getElementById('gradeDiv').style.display = "block";
}
</script>
<div class="col-md-8">
		<div class="play-info">
			<h2 class="play-title"><%= @subject.title %></h2>
			<p class="play-desc"><%= @subject.description %></p>
			<%= link_to "Back", root_path %> 
			<% if current_user.status == 1 || current_user.status == 2 %>
		            | <%= link_to 'Edit', edit_subject_path(@subject) %> |
	            	<%= link_to 'Delete', subject_path(@subject), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br />
            <% SubjectsUser.where(subject_id: @subject.id).each do |su| %>
            	<br />
            	<div>
            		<% @user = User.find_by(id: su.user_id) %>
        				<div class="box"><%= @user.name + ' ' + @user.surname %><br />
        					<% Grade.where(user_id: @user.id).each do |grade| %>
        						<p><%= grade.value %><br /></p>
        						<p><b>Description: </b><i><%= grade.description %></i></p>
        						<p><b>Submited <%= time_ago_in_words(grade.created_at) %> ago</b></p>
        					<% end %>
        					<input type="button" name="Add Grade" value="Add Grade" onclick="showDiv()" class="myButton"/>
    					</div><br />
        				<div id="gradeDiv" style="display:none;"><%= render "grades/form" %></div>
        		</div>
			<% end %>
		</div>
</div>
