<script>
	function showDiv() {
   	document.getElementById('gradeDiv').style.display = "block";
}
</script>
<div class="col-md-8">
		<div class="play-info">
			<h2 class="play-title"><%= @subject.title %></h2>
			<p class="play-desc"><%= @subject.description %></p>
			<%= link_to "Back", root_path %> 
			<% if current_user.status == 1 || current_user.status == 2 %>
		            | <%= link_to 'Edit', edit_subject_path(@subject) %> |
	            	<%= link_to 'Delete', subject_path(@subject), method: :delete, data: { confirm: 'Are you sure?' } %>
	            	| <%= link_to 'Add Students', subject_students_add_path(@subject) %> 
            <% end %>
            <br />
            <% @su.each do |su| %>
            	<br />
            	<div>
            		<% @user = User.find(su.user_id) %>
        				<div class="box"><b><%= @user.name + ' ' + @user.surname %></b><br />
        				<table border="1" style="width: 100%; margin: 0 0 5px 0;">
        					<tr>
        					<% @grade = Grade.where(user_id: @user.id).each do |grade| %>
        						<td style="width:10%; text-align: center;"><b><%= grade.value %></b></td> 
        						<td style="width:78%; padding: 3px;"><q><i><%= grade.description %></i></q></td>
        						<td style="width:12%; text-align: center;"><%= grade.created_at.to_date %></td>
        						<td><%= link_to "Edit", edit_subject_grade_path(grade) %></td>
        						<td><%= link_to "Delete", [grade.subject, grade], method: :delete, data: { confirm: "Are you sure" } %></td>
        					</tr>	
        					<% end %>
        				</table>	
        				<input type="button" name="Add Grade" value="Add Grade" onclick="showDiv()" class="myButton"/>
    					</div><br />
        				<div id="gradeDiv" style="display:none;"><%= render "grades/form" %></div>
        		</div>
			<% end %>
		</div>
</div>
